<div class="form-group">
    <label for="{{label}}">{{label}}</label>
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        name="password" 
        [formControl]='ngControl.control'>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a {{label}}.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">{{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">{{label}} must be less than {{ngControl.control.errors.maxlength['requiredLength']}} characters.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">Passwords do not match.</div>
</div>
